{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-dom/client$",
    "^react/(.*)$",
    "^next$",
    "^next/(.*)$",
    "^@tanstack/(.*)$",
    "^@radix-ui/(.*)$",
    "^@clerk/(.*)$",
    "^@hookform/(.*)$",
    "^@tabler/(.*)$",
    "^@faker-js/(.*)$",
    "^@trivago/(.*)$",
    "^@types/(.*)$",
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^@/components/errors/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/context/(.*)$",
    "^@/features/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/locales/(.*)$",
    "^@/mocks/(.*)$",
    "^@/middleware/(.*)$",
    "^@/pages/(.*)$",
    "^@/public/(.*)$",
    "^@/server/(.*)$",
    "^@/stores/(.*)$",
    "^@/styles/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/services/(.*)$",
    "^@/helpers/(.*)$",
    "^@/models/(.*)$",
    "^@/schemas/(.*)$",
    "^@/enums/(.*)$",
    "^@/interfaces/(.*)$",
    "^@/theme/(.*)$",
    "^@/test/(.*)$",
    "^@/mock/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
